# n8n instance
N8N_URL=https://primary-production-87e8.up.railway.app
N8N_API_KEY=

# WhatsApp (Meta Business API)
WHATSAPP_PHONE_ID=

# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
